# This is to ignore local files that we don't need to commit to the repository.
venv/
__pycache__/

data/ 
postgres/
*.db
*.log

.env 
/.idea

uploads/
test_project/
test_project.zip

# Coverage reports
.coverage
.coverage.*
htmlcov/
*.cover
.pytest_cache/
