colorama==0.4.6
iniconfig
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
GitPython==3.1.43
python-docx==1.2.0
toml==0.10.2
PyYAML==6.0.2
Flask==3.0.3
fastapi==0.115.5
uvicorn==0.32.1
httpx==0.27.2
python-multipart==0.0.12
