.card-container{
width: 299px;
height: 230px;
border-radius: 10px;
background: #D9D9D9;
background: color(display-p3 0.851 0.851 0.851);
}
.image-container{
    width: 251px;
height: 107px;
border-radius: 10px;
background: #B9B9B9;
background: color(display-p3 0.7246 0.7246 0.7246);
}