FreeSimpleGUI
matplotlib
click
gitpython
mysql-connector-python
orjson
PyGithub
docker
pandas
langchain-community
langchain
langchain-ollama
langchain-core
langchain-google-genai
python-docx
pypdf
pytest
pytest-mock
pytest-cov
python-dotenv
pendulum
reportlab
tqdm
javalang
