FreeSimpleGUI
matplotlib
click
gitpython
mysql-connector-python
orjson
PyGithub
docker
pandas
langchain-community
langchain
langchain-ollama
langchain-core
langchain-google-genai
python-docx
pypdf
pytest
pytest-mock
pytest-cov
python-dotenv
pendulum
reportlab
tqdm
javalang
Pillow>=10.0.0
esprima
rendercv[full]
ruamel.yaml
streamlit
fastapi[standard]
python-multipart
tree_sitter
tree_sitter_cpp
tree_sitter_c_sharp
python-multipart
filelock
